@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Michroma&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  max-height: 1500px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.heartLives{
  text-align: left;
  position: absolute;
}

.textLives{
  text-align: left;
  position: absolute;
  margin-left: 30px;
}

.heading{
  background-color: #726EFF;
  padding: 30px;
  color:  white;
  font-family: 'Exo', sans-serif;
}

.body{
  color: white;
  background-color: #212B38;
  height: 100vh;
  font-family: 'Michroma', sans-serif;
}

.divider{
  background-color: #5AFFE7;
  height: 5px;
}

.divider2{
  background-color: #08C6AB;
  height: 5px;
}

.puzzle{
  font-size: 50px;
}

.restart{
  background-color: #726EFF !important;
}

.displayPuzzle{
  margin-bottom:50px;
}

.hangman{
  margin-top: 40px;
}

.win{
  padding-top: 100px;
}

.greenBtn{
  background-color: #5AFFE7 !important;
  border-color: #37465B !important;
  color:  #37465B !important;
  width: 50px !important;
  text-align: center !important;
  height: 50px !important;
}

.greenBtn:disabled{
  background-color: #08C6AB;
}

.greenBtn:hover{
  opacity: 0.8;
}